.App {
    height: 95vh;
    text-align: center;
}

.cropImage{
    border-style: dashed;
    border-color: #663399;
    border-width: 3px;
    border-radius: 10px;
    width:200px;
}

.cropImage img:hover{
    opacity:0.5
}

.cropImage img:hover input {
    display: block;
}
.cropImage img input {
    position:absolute;
    display:none;
}
.cropImage img:hover input.delete {
    top:0;
    left:79%;
}

.instruction-title {
    font-size:36px;
    padding: 2px;
    margin: 2px;
    padding-top: 30px;
}

.instruction-description {
    font-style: italic;
    font-size: 20px;
}

.instruction-subtitle {
    font-size: 20px;
    padding: 2px;
    margin: 2px;
    padding-top: 15px;

}

.upload-button {
    margin: auto;
    margin-top: 10px;
    background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.displayed-image {
    padding-top: 20px;
    margin: 0;
    height: 500px;
    width: 500px;
    
}

.input-button {
    background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}